
<div class="head">
    <div class="left" style="color: rgb(47, 49, 50); text-align: center;">
        <h2 style="color: aqua;">Myapp-projects</h2>
        <hr>
        <h4 routerLink="home">Home</h4>
        <h4 routerLink="welcome">Welcome</h4>
        <h4 routerLink="data-binding">Data-Binding</h4>
        <h4 routerLink="calculator">Calculator</h4>
        <h4 routerLink="rectangle">Rectangle</h4>
        <h4 routerLink="circle">Circle</h4>
        <h4 routerLink="bmi">BMI</h4>
        <h4 routerLink="directives">Directives</h4>
        <h4 routerLink="employee">Employee</h4>
        <h4 routerLink="flipkart">Filpkart</h4>
        <h4 routerLink="vehicle">Vehicle</h4>
        <h4 routerLink="amazon">Amazon</h4>
        <h4 routerLink="mail">Mail</h4>
        <h4 routerLink="pinterest">Pinterest App</h4>
        <h4 routerLink="blog">Blog</h4>
        <h4 routerLink="imdb">IMDB Movies</h4>
        <h4 routerLink="profile">Profiles</h4>
        <h4 routerLink="pokemon">Pokemon</h4>
        <h4 routerLink="accounts">Accounts</h4>
        <h4 routerLink="students">Students</h4>
        <h4 routerLink="create-user">Create User</h4>
        <h4 routerLink="task">Task</h4>

        <hr>
        <button class="btn btn-danger" (click)="logout()">Logout</button>
        
    </div>
    <div class="right">
        <router-outlet></router-outlet>

    </div>
</div>
