<script>
    function add(){
    var a = document.getElementById('a').valueAsNumber;
    console.log(a);
    var b = document.getElementById('b').valueAsNumber;
    console.log(b);
  
    var result= a+b;
    console.log(result);
  
    document.getElementById('Calculator').innerText=result;
    }
  
    function subtract(){
    var a = document.getElementById('a').valueAsNumber;
    console.log(a);
    var b = document.getElementById('b').valueAsNumber;
    console.log(b);
  
    var result= a-b;
    console.log(result);
  
    document.getElementById('Calculator').innerText=result;
  
    }
  
    function divide(){
    var a = document.getElementById('a').valueAsNumber;
    console.log(a);
    var b = document.getElementById('b').valueAsNumber;
    console.log(b);
  
    var result= a/b;
    console.log(result);
  
    document.getElementById('Calculator').innerText=result;
  
    }
  
    function multiply(){
    var a = document.getElementById('a').valueAsNumber;
    console.log(a);
    var b = document.getElementById('b').valueAsNumber;
    console.log(b);
  
    var result= a*b;
    console.log(result);
  
    document.getElementById('Calculator').innerText= result;
  
    }
  </script>
  
  <div class="parent">
    <div class="child">
  
    <h1><b>Calculator</b></h1>
    <hr>
    <label for="">First Number: &nbsp; &nbsp;</label>
    <input type="number"  [(ngModel)]="a"> <br>
    <label for="">Second Number:</label>
    <input type="number"  [(ngModel)]="b"> <br>
    <!-- <label for=""><b>Result: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</b></label>
    <input type="number" id="Calculator"> <br> <br> -->
  
    <button (click)="add()"><b>+</b></button> &nbsp;
    <button (click)="substract()"><b>-</b></button> &nbsp;
    <button (click)="divide()" ><b>/</b></button> &nbsp;
    <button (click)="multiply()"><b>x</b></button>
  
    <h2>Result is: {{result}}</h2>
    </div>
  
  </div>
  