<h1>Vehicles</h1>

<input type="text"[(ngModel)]="term" (keyup)="filter()"> &nbsp;

<select [(ngModel)]="column">
    <option>Vehicle</option>
    <option>manufacturer</option>
    <option>model</option>
    <option>type</option>
    <option>fuel</option>
    <option>cost</option>
</select>
<select [(ngModel)]="order">
    <option>asc</option>
    <option>desc</option>
</select>&nbsp;
<button class="btn btn-primary" (click)="sort()">sort</button> &nbsp;

<select [(ngModel)]="limit">
    <option>10</option>
    <option>20</option>
    <option>30</option>
    <option>40</option>
    
</select>
<select [(ngModel)]="page">
    <option>1</option>
    <option>2</option>
</select>&nbsp;
<button class="btn btn-primary" (click)="paginaton()">Paginaton</button> &nbsp;
<button class="btn btn-primary" routerLink="/myapp-project/create-vehicle">Create Vehicle</button>
<hr>

<table class="table table-dark">
    <thead>
        <tr>
            <th>Vehicle</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Type</th>
            <th>Fuel</th>
            <th>Cost</th>
            <th>Image</th>
            <th>View</th>
            <th>Edit</th>
            <th>Actions</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td [ngClass]="{'green':vehicle.cost<=400,'red':vehicle.cost>500}">{{vehicle.cost | balance}}</td>
            <td><img src="{{vehicle.image}}" alt="" style="width: 100px; height: 100px;"></td>
            <td><button class="btn btn-info" routerLink="/myapp-project/vehicle-details/{{vehicle.id}}"><i class="bi bi-eye-fill"></i>View</button></td>
            <td><button class="btn btn-info" routerLink="/myapp-project/edit-vehicle/{{vehicle.id}}"><i class="bi bi-eye-fill"></i>Edit</button></td>

            <td><button class="btn btn-danger" (click)="delete(vehicle.id)"><i class="bi bi-trash3"></i> Delete</button></td>
        </tr>
    </tbody>
</table>
